---
import Layout from '@layouts/BaseLayout.astro';
import SimpleHeader from '@components/section/SimpleHeader.astro';
import Input from '@/components/form/Input.astro';
import Radio from '@/components/form/Radio.astro';
import Button from '@/components/common/Button.astro';
---

<Layout title="Checkout | audiophile">
  <SimpleHeader />
  <main class="main-padding main-margin-bottom checkout">
    <form id="checkout-form" class="billing" action="">
      <h2 class="billing__title">Checkout</h2>
      <div class="billing__section">
        <h3 class="billing__section__title">Billing Details</h3>
        <div class="billing__section__wrapper">
          <Input
            name="name"
            label="Name"
            type="text"
            placeholder="Alexei Ward"
            value="Jhon"
          />
          <Input
            name="email"
            label="Email Address"
            type="email"
            placeholder="alexei@mail.com"
          />
          <Input
            name="phone"
            label="Phone Number"
            type="tel"
            placeholder="+1 202-555-0136"
          />
        </div>
      </div>
      <div class="billing__section">
        <h3 class="billing__section__title">shipping info</h3>
        <div class="billing__section__wrapper">
          <div class="billing__section--wide-item">
            <Input
              name="address"
              label="Address"
              type="text"
              placeholder="1137 Williams Avenue"
            />
          </div>

          <Input name="zip" label="ZIP Code" type="text" placeholder="10001" />
          <Input name="city" label="City" type="text" placeholder="New York" />
          <Input
            name="country"
            label="Country"
            type="text"
            placeholder="United States"
          />
        </div>
      </div>
      <div class="billing__section">
        <h3 class="billing__section__title">payment details</h3>
        <fieldset
          class="billing__section__wrapper"
          data-action="show-emoney-form">
          <span class="billing__section__subtitle">Payment Method</span>
          <Radio label="e-Money" value="emoney" name="payment-method" checked />
          <span></span>
          <Radio label="Cash on Delivery" value="cash" name="payment-method" />
        </fieldset>
        <div
          class="billing__section__wrapper billing__section__epay active"
          data-target="emoney-form">
          <Input
            name="emoney-number"
            label="e-Money Number"
            type="text"
            placeholder="238521993"
          />
          <Input
            name="emoney-pin"
            label="e-Money PIN"
            type="text"
            placeholder="6891"
          />
        </div>
        <div class="billing__section__cash" data-target="cash-form">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              viewBox="0 0 48 48"
              fill="none">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M42.2812 8.4375H46.5938C47.3704 8.4375 48 9.06713 48 9.84375C48 10.6204 47.3704 11.25 46.5938 11.25H45.0938V23.9062C45.0938 24.6829 44.4641 25.3125 43.6875 25.3125H33.8438V40.9688C33.8438 41.7454 33.2141 42.375 32.4375 42.375H25.0773C24.4239 45.5805 21.5831 48 18.1875 48H1.40625C0.629625 48 0 47.3704 0 46.5938C0 45.8171 0.629625 45.1875 1.40625 45.1875H18.1875C20.021 45.1875 21.585 44.012 22.1653 42.375H8.4375C7.66087 42.375 7.03125 41.7454 7.03125 40.9688C7.03125 40.1921 7.66087 39.5625 8.4375 39.5625H12.5625C13.3379 39.5625 13.9688 38.9317 13.9688 38.1562C13.9688 37.3808 13.3379 36.75 12.5625 36.75H9.43444C6.87619 36.75 4.37297 37.6373 2.38575 39.2485C1.78247 39.7376 0.896906 39.6454 0.407719 39.0419C-0.0814688 38.4385 0.0110625 37.553 0.614344 37.0639C2.84203 35.2578 5.58806 34.1792 8.4375 33.9741V18.375C8.4375 17.5984 9.06713 16.9688 9.84375 16.9688H18.375V7.03125C18.375 6.25462 19.0046 5.625 19.7812 5.625H28.1223C31.9334 2.02078 36.9875 0 42.2641 0H46.5938C47.3704 0 48 0.629625 48 1.40625C48 2.18287 47.3704 2.8125 46.5938 2.8125H42.2642C38.805 2.8125 35.4975 3.79453 32.658 5.625H38.0625C38.8326 5.625 39.4688 6.25228 39.4688 7.03125C39.4688 7.52423 39.3372 7.69561 38.4891 8.80021C38.0648 9.3528 37.4613 10.1389 36.6052 11.3157C36.2039 11.8513 36.3433 12.6075 36.8974 12.9688C37.4088 13.3025 38.0923 13.1781 38.4534 12.6856L41.1473 9.01219C41.4121 8.65088 41.8333 8.4375 42.2812 8.4375ZM32.4375 16.9688C32.9273 16.9688 33.3582 17.2195 33.6099 17.5993C35.4415 15.9118 34.2652 12.7969 31.7344 12.7969C29.5943 12.7969 28.2687 15.1348 29.3533 16.9688H32.4375ZM21.1875 8.4375H35.2472C35.0152 8.75898 34.8251 9.00687 34.6644 9.21646C34.3106 9.67792 34.0992 9.95371 33.896 10.4204C29.6796 8.64131 25.1696 12.4771 26.337 16.9688H21.1875V8.4375ZM22.5938 25.4062V19.7812H19.7812V25.4062H22.5938ZM31.0312 39.5625H16.5403C17.5098 36.8283 15.4711 33.9375 12.5625 33.9375H11.25V19.7812H16.9688V26.8125C16.9688 27.5891 17.5984 28.2188 18.375 28.2188H24C24.7766 28.2188 25.4062 27.5891 25.4062 26.8125V19.7812H31.0312V39.5625ZM33.8438 20.7288V22.5H42.2812V12.2217L40.7213 14.3488C39.9301 15.4278 38.6519 16.0371 37.2972 15.9602C37.1467 18.1043 35.7894 19.9393 33.8438 20.7288Z"
                fill="#D87D4A">
              </path>
            </svg>
          </span>
          <p class="billing__section__cash--text">
            The ‘Cash on Delivery’ option enables you to pay in cash when our
            delivery courier arrives at your residence. Just make sure your
            address is correct so that your order will not be cancelled.
          </p>
        </div>
      </div>
    </form>
    <div class="summary">
      <h2 class="summary__title">summary</h2>
      <div class="summary__products" data-target="checkout-cart"></div>
      <div class="summary__billing">
        <p class="summary__info">
          <span class="summary__info--text">Total</span>
          <span class="summary__info--data" data-target="checkout-total">
            $0
          </span>
        </p>
        <p class="summary__info">
          <span class="summary__info--text">SHIPPING</span>
          <span class="summary__info--data" data-target="checkout-shipping">
            $0
          </span>
        </p>
        <p class="summary__info">
          <span class="summary__info--text">VAT (INCLUDED)</span>
          <span class="summary__info--data" data-target="checkout-vat">$0</span>
        </p>
        <p class="summary__info summary__info--total">
          <span class="summary__info--text">GRAND TOTAL</span>
          <span
            class="summary__info--data summary__info--accent"
            data-target="checkout-grand-total">
            $0
          </span>
        </p>
      </div>
      <div class="modal-cart__check">
        <Button
          size="lg"
          label="continue"
          data-action="submit-checkout"
          type="button"
        />
      </div>
    </div>
  </main>
</Layout>
<style lang="scss">
  .checkout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.875rem;
    flex-wrap: wrap;
  }
  .billing {
    border-radius: 8px;
    background: var(--foreground-light);
    padding: 3.375rem 3rem;
    flex: 1 1 37.5rem;
    &__title {
      color: var(--foreground-dark);
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.12; /* 112.5% */
      letter-spacing: 0.0714rem;
      text-transform: uppercase;
      margin-bottom: 2.625rem;
    }
    &__section {
      &:not(:last-child) {
        margin-bottom: 3.375rem;
      }
      &__title {
        color: var(--accent);
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.92; /* 192.308% */
        letter-spacing: 0.0581rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      &__subtitle {
        color: var(--foreground-dark);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.0134rem;
      }
      &__wrapper {
        display: grid;
        gap: 1.5rem 1rem;
        grid-template-columns: repeat(1, 1fr);
      }
      &--wide-item {
        grid-column: 1 / -1;
      }
      &__epay,
      &__cash {
        border-top: 1px solid var(--secondary-grey);
        padding-block: 1rem;
      }
      &__epay {
        margin-top: 1rem;
        display: none;
        &.active {
          display: grid;
        }
      }
      &__cash {
        margin-top: 1rem;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        &.active {
          display: flex;
        }
        & > span {
          width: fit-content;
        }
        &--text {
          flex: 1 1 18.75rem;
          color: var(--foreground-dark);
          font-size: 0.9375rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.66; /* 166.667% */
          opacity: 0.5;
        }
      }
    }
  }
  .summary {
    border-radius: 8px;
    background: var(--foreground-light);
    padding: 2rem;
    flex: 1 1 18.75rem;
    max-width: 21.875rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__title {
      color: var(--foreground-dark);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.0804rem;
      text-transform: uppercase;
    }
    &__products {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    &__billing {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;
    }
    &__info {
      color: var(--foreground-dark);
      font-style: normal;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      &--text {
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.66; /* 166.667% */
        opacity: 0.5;
      }
      &--data {
        text-align: right;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: normal;
      }
      &--accent {
        color: var(--accent);
      }
      &--total {
        margin-top: 1rem;
      }
    }
  }
  @media screen and (min-width: 700px) {
    .billing {
      &__section {
        &__wrapper {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
</style>
<script>
  import { getCartFromLocalStorage } from '@lib/cartStorage';
  import { checkoutProducts } from '@lib/checkoutOperations';
  import { formatPriceOutput } from '@lib/utils';

  document.addEventListener('DOMContentLoaded', async function () {
    const cart = getCartFromLocalStorage();
    const productContainer = document.querySelector(
      '[data-target="checkout-cart"]'
    );
    productContainer.innerHTML = '';

    if (cart.length === 0) {
      productContainer.innerHTML = `<p class="empty-message">Your cart is empty.</p>`;
    } else {
      const selectedProduct = cart.map((product) => {
        return { code: product.id, quantity: product.quantity };
      });
      const data = await checkoutProducts(selectedProduct);
      // Render every product
      data.products.forEach((item) => {
        const itemElement = document.createElement('div');
        itemElement.classList.add('cart-item');
        itemElement.innerHTML = `
        <div class="cart-item__img">
          <img src="/assets/cart/image-${
            item.code
          }-headphones.jpg" alt="product image" />
        </div>
        <div class="cart-item__specs">
          <h3 class="cart-item__title"><span>${item.nickname}</span></h3>
          <p class="cart-item__price">$ <span>${formatPriceOutput(item.price)}</span></p>
        </div>
        <p class="cart-item__quantity">x<span>${item.quantity}</span></p>
      `;
        productContainer.appendChild(itemElement);
      });
      document.querySelector('[data-target="checkout-total"]').textContent =
        `$ ${formatPriceOutput(data.subtotal)}`;
      document.querySelector('[data-target="checkout-shipping"]').textContent =
        `$ ${formatPriceOutput(data.shipping)}`;
      document.querySelector('[data-target="checkout-vat"]').textContent =
        `$ ${formatPriceOutput(data.vat)}`;
      document.querySelector(
        '[data-target="checkout-grand-total"]'
      ).textContent = `$ ${formatPriceOutput(data.total)}`;
    }
  });

  document
    .querySelector('[data-action="submit-checkout"]')
    .addEventListener('click', () => {
      document
        .getElementById('checkout-form')
        .dispatchEvent(new Event('submit'));
    });

  document.getElementById('checkout-form').addEventListener('submit', (e) => {
    e.preventDefault();

    const form = e.target;
    const formData = new FormData(form);
    const formObject = Object.fromEntries(formData.entries());

    console.log('Datos del formulario:', formObject);

    // Aquí puedes hacer una solicitud AJAX si necesitas enviar los datos sin recargar la página
  });

  document
    .querySelector('[data-action="show-emoney-form"]')
    .addEventListener('change', (e) => {
      const emoneyForm = document.querySelector('[data-target="emoney-form"]');
      const cashForm = document.querySelector('[data-target="cash-form"]');

      if (e.target.value === 'emoney') {
        emoneyForm.classList.add('active');
        cashForm.classList.remove('active');
      } else if (e.target.value === 'cash') {
        emoneyForm.classList.remove('active');
        cashForm.classList.add('active');
      }
    });
</script>
