---
import Link from './Link.astro';
const {
  title = '',
  subtitle = '',
  body = '',
  imgRef = [''],
  href = '#',
  newProductTag = false,
} = Astro.props;
---

<article class="product">
  <picture>
    <source srcset={imgRef[2]} media="(min-width: 62.5rem)" />
    <source srcset={imgRef[1]} media="(min-width: 43.75rem)" />
    <img class="product__img" src={imgRef[0]} alt={title} />
  </picture>
  <div class="product__info">
    {newProductTag && <span class="product__new">NEW PRODUCT</span>}
    <h2 class="product__title">{title}<br />{subtitle}</h2>
    <p class="product__body">{body}</p>
    <Link href={href} label="See Product" variant="accent" />
  </div>
</article>

<style lang="scss">
  .product {
    background-color: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    position: relative;
    align-items: center;
    &__img {
      width: 100%;
      height: 22rem;
      border-radius: 8px;
      background-color: var(--secondary-ghost);

      object-fit: cover;
      object-position: center center;
    }
    &__info {
      width: 100%;
      max-width: 35.75rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
    &__new {
      color: var(--accent);
      text-align: center;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.625rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
    &__title {
      color: var(--foreground-dark);
      text-align: center;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
    &__body {
      color: var(--foreground-dark);
      text-align: center;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5625rem; /* 166.667% */
      opacity: 0.5;
      margin-bottom: 0.5rem;
    }
  }
  @media screen and (min-width: 43.75rem) {
    .product {
      gap: 3.25rem;
      &__new {
        margin-bottom: 0;
      }
      &__title {
        margin-bottom: 1rem;
        font-size: 2.5rem;
        line-height: 2.75rem; /* 110% */
        letter-spacing: 0.0893rem;
      }
    }
  }
</style>
